@import url('https://fonts.googleapis.com/css2?family=Kulim+Park:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Kulim Park', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #121212;
}

/* NAVBAR */
nav {
    background-color: 121212;
    height: 100px;
    border-bottom: 2px solid #ffffff21;
    width: 80%;
}

.logo{
    width: 100px;
    padding: 10px;
}

nav ul {
    text-align: center;
    float: right;
    margin-right: 20px;
    
}

nav ul li{
    display: inline-block;
    line-height: 100px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 20px;
    border-radius: 50px;
}

a.active, a:hover{
    background-color: rgb(24, 24, 24);
    transition: 0.5s;
}



.yellowbutton {
    border: 2px solid rgb(255, 255, 0);
    color: white;
    padding: 10px 30px 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 21px;
}

.yellowbutton:hover {
    background-color: rgb(255, 255, 0);
    color: black;
    transition: 1s;
}

.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 100px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 838px) {
    .checkbtn {
        display: block;
    }
    nav ul{
        position: fixed;
        width: 80%;
        height: 100vh;
        left: -100%;
        background-color: #121212b9;
        transition: all 0.5s;
        z-index: 100;
    }
    nav ul li{
        display: block;
    }
    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active{
        background: none;
    }
    #check:checked ~ ul{
        left: 10%;
    }
}

/* NAVBAR END */

p {
    font-size: 16px;
    line-height: 1.5;
    width: 60%;
}

.w-50 {
    width: 50%;
}

.h-50 {
    height: 50%;
}

.m-2 {
    margin: 2rem;
}

.p-2 {
    padding: 2rem;
}

.white-icon {
    color: white;
}

.social-links {
    padding: 10px 0px;
}

.social-links:hover {
    background-color: #1a1a1ab9;
    transition: 0.5s;
    border-radius: 100px;
}

#home-section{
    background: url(./assets/images_content/mixo.png);
    background-size: cover;
    height: calc(100vh - 80px);
    width: 80%;
    opacity: 1;
}

#about-section{
    width: 100%;
    background: linear-gradient(135.18deg, #FFFFFF -15.2%, #E3E3E3 152.11%);
    padding: 24px;
}

.left-content {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.left-content h2 {
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
    color: white;
    
}

.left-content h3 {
    font-weight: 100;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
}


.right-content {
    background: url(./assets/images_content/nzoshoot.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

@media (max-width: 1235px) {
    #right-content {
        display: none;
    }

    #left-content {
        width: 100%;
    }

    #about-section-1 {
        display: block;
    }

    p {
        width: 100%;
    }

    #img-pro {
        width: 80%;
    }
}